APP_URL=http://localhost:3000
APP_SECRET=9Da9GXRAu3RRPLtIvsARM9ahhGz7SsL0e_RrDYZxIVbgHRo7qnZRtQD_ng_AQQcB
APP_ENCRYPTION_KEY=8XBeHhLMRcVjua0cpQ9fma3D606noO3b9Zi/KNEKEjs=
SQLITE_PATH=./data/app.db

BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=ChangeMe123!

AD_URL=ldaps://dc01.example.local:636
AD_BASE_DN=DC=example,DC=local
AD_DOMAIN=EXAMPLE
AD_USERNAME_ATTRIBUTE=sAMAccountName
AD_GROUP_ATTRIBUTE=memberOf

FORTINET_API_AUTH=auto
FORTINET_API_PORT=9443
# FORTINET_API_VDOM=root
